# Application
NODE_ENV=development

# Ports
GATEWAY_PORT=4000
CORE_SERVICE_PORT=4001
ACCOUNTING_SERVICE_PORT=4002
REPORTING_SERVICE_PORT=4003

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/urban_furniture

# Internal services
CORE_SERVICE_URL=http://localhost:4001
ACCOUNTING_SERVICE_URL=http://localhost:4002
REPORTING_SERVICE_URL=http://localhost:4003

# Authentication
JWT_ACCESS_SECRET=Itun8PAkM9raaAseeRvho0PqX5VaNrrS0aN8UiRpjzE
JWT_REFRESH_SECRET=nwLdJuRhb6R6ZTMQnyGOul7Xd587TrY2kGJRIULSgj3
JWT_ACCESS_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d

# Logging
LOG_LEVEL=debug
LOG_ENABLED=true
LOG_PRETTY=true
LOG_REDACT=true

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=